@font-face {
    font-family: 'Twitch Font';
    src: url('../assets/Twitchy.TV.ttf') format('truetype');
    /* Adjust the path to the font file based on the folder structure */
}

body {
    margin: 0;
    padding: 0;
    background-color: hwb(181 101 29);
}

#svgMapContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#selectPlacesContainer {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: -1; /* Initially set to a value lower than other elements */
}

#selectPlacesContainer path {
    fill: red !important; /* Example styling to make the selected states visible */
}

#pageTitle {
    font-size: 60px; /* Initial font size */
    color: #ffffff; /* White text color */
    font-family: 'Twitch Font', sans-serif;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
}

#pageTitle::before,
#pageTitle::after {
    content: ''; /* Create pseudo-elements for alignment */
    display: inline-block;
    width: 15%; /* Fill half of the remaining space on each side */
    height: 1px; /* Adjust as needed */
    background-color: transparent; /* Match background color */
    pointer-events: none; /* Ignore pointer events */
}
h1 {
    margin: -50px;
    color: #ffffff; /* White text color */
    font-family: 'Twitch Font', sans-serif;
    text-align: center;
    text-shadow: 
        -3px -3px 0 #9147ff,    /* Top left shadow */
         3px -3px 0 #9147ff,    /* Top right shadow */
        -3px  12px 0 #9147ff, /* Bottom left shadow with spread */
         3px  6px 0 #9147ff;  /* Bottom right shadow with spread */
}
