@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* Changed font-family to Montserrat */
    background-color: hwb(181 101 29);
    margin: 0; /* Combined margin and padding into a single rule */
    padding: 0;
}

h1 {
    font-size: 60px;
    color: #9147ff;
    text-shadow: 1px 1px 0 #ab85ff, 2px 2px 0 #c49bff, 3px 3px 0 #ddc2ff, 4px 4px 0 #e7d5ff, 5px 5px 0 #f0e9ff, 6px 6px 2px rgba(0, 0, 0, 0.4), 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.05), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 20px rgba(0, 0, 0, 0.05);
    background: -webkit-linear-gradient(45deg, #9147ff, #772ce8);
    -webkit-text-fill-color: transparent;
}

#svgMapContainer {
    width: 100vw; /* Take up the entire width of the viewport */
    height: 100vh; /* Calculate the height based on the aspect ratio (1000:589) */
    overflow: hidden; /* Prevent scrolling */
}

